# WEB SCRAPING ASSIGNMENT - 1

In [62]:
# Importing libraries
from bs4 import BeautifulSoup
import requests
import selenium
from pprint import pprint
import pandas as pd
from selenium import webdriver
import time

In [63]:
driver=webdriver.Chrome(r"C:\Users\home\chromedriver.exe")

### Q1. Write a python program to display all the header tags from "https://en.wikipedia.org/wiki/Main_Page" .

In [154]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [156]:
soup=BeautifulSoup(page.text,'html.parser')

In [65]:
#Displaying content in a good manner

#print(soup.prettify())

In [8]:
#Displaying all the header tags
headers = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('Displaying all the header tags :', *headers, sep='\n\n')

Displaying all the header tags :

<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you knowÂ ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 id="p-variants-label">
<span>Variants</span>
</h3>

<h3 id="p-views-label">
<span>Views</span>
</h3>

<h3 id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 id="p-tb-label">
<span>Tools</span>
</h3>

<h3 id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 id="p-lang-label">
<span>Languages</span>
</h3>

### Q2. Write a python program to display IMDB's Top rated 100 movies' data.

In [355]:
page = requests.get("https://www.imdb.com/list/ls091520106/?sort=list_order,asc&st_dt=&mode=simple&page=1&ref_=ttls_vw_smp")

In [357]:
soup=BeautifulSoup(page.text,'html.parser')

#### Title

In [359]:
names=[]
for i in soup.find_all("span", class_="lister-item-header"):
    names.append(i.find('a',href=True).get_text())
names[:10]

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'Fight Club']

#### Year

In [362]:
Release_year=[]
year=soup.find_all("span",class_="lister-item-year text-muted unbold")
for i in year:
   Release_year.append(i.get_text().replace(")","").replace("(",""))
Release_year[0:10]

['1994',
 '1972',
 '1974',
 '2008',
 '1957',
 '1993',
 '2003',
 '1994',
 '1966',
 '1999']

#### Rating

In [360]:
Rating=[]
rating=soup.find_all("div",class_='col-imdb-rating')
for i in rating:
    Rating.append(i.get_text().strip().replace("\n",""))
Rating[1:10]

['9.2', '9', '9', '9', '8.9', '8.9', '8.9', '8.8', '8.8']

In [363]:
print(len(Movie_name),len(Release_year),len(Rating))

0 100 100

In [364]:
#DataFrame 
import pandas as pd
movies=pd.DataFrame({})
movies["Titles"]=names[0:100]
movies["Year"]=Release_year
movies["Rating"]=Rating

In [365]:
movies.head()

                     Titles  Year Rating
0  The Shawshank Redemption  1994    9.3
1             The Godfather  1972    9.2
2    The Godfather: Part II  1974      9
3           The Dark Knight  2008      9
4              12 Angry Men  1957      9

In [366]:
#Saving in csv format
import pandas as pd
df=movies
df.to_csv('C:/Users/home/Desktop/Internship Projects/fliprobo/movies.csv',index = False)

### Q3. Write a python program to display IMDB's Top rated Indian 100 movies' data.

In [340]:
page = requests.get("https://www.imdb.com/india/top-rated-indian-movies/")

In [66]:
#page.content

In [342]:
soup=BeautifulSoup(page.text,'html.parser')

#### Title

In [345]:
names=[]
for i in soup.find_all("td", class_="titleColumn"):
    names.append(i.find('a',href=True).get_text())
names[:10]

['Pather Panchali',
 'Gol Maal',
 'Ratsasan',
 'Nayakan',
 'Anbe Sivam',
 'Apur Sansar',
 'Kireedam',
 'Natsamrat',
 'Pariyerum Perumal',
 'Black Friday']

#### Year

In [346]:
Release_year=[]
year=soup.find_all("span",class_="secondaryInfo")
for i in year:
   Release_year.append(i.get_text().replace(")","").replace("(",""))
Release_year[0:10]

['1955',
 '1979',
 '2018',
 '1987',
 '2003',
 '1959',
 '1989',
 '2016',
 '2018',
 '2004']

#### Rating

In [347]:
Rating=[]
rating=soup.find_all("td",class_='ratingColumn imdbRating')
for i in rating:
    Rating.append(i.get_text().strip().replace("\n",""))
Rating[1:10]

['8.5', '8.5', '8.5', '8.5', '8.4', '8.4', '8.4', '8.4', '8.4']

In [348]:
print(len(names),len(Release_year),len(Rating))

250 250 250

In [349]:
#Dataframe
import pandas as pd
movie=pd.DataFrame({})[0:100]
movie["Titles"]=names
movie["Year"]=Release_year
movie["Rating"]=Rating

In [350]:
movie.head(10)

              Titles  Year Rating
0    Pather Panchali  1955    8.5
1           Gol Maal  1979    8.5
2           Ratsasan  2018    8.5
3            Nayakan  1987    8.5
4         Anbe Sivam  2003    8.5
5        Apur Sansar  1959    8.4
6           Kireedam  1989    8.4
7          Natsamrat  2016    8.4
8  Pariyerum Perumal  2018    8.4
9       Black Friday  2004    8.4

In [351]:
#Saving in csv format
df=movie
df.to_csv('C:/Users/home/Desktop/Internship Projects/fliprobo/indian movie.csv',index = False)

### Q4. Write a python program to scrape book name,author name,genre and book review of any 5 books from www.bookpage.com'.

In [381]:
page = requests.get("https://bookpage.com/reviews")

In [382]:
soup = BeautifulSoup(page.text,'html.parser')

#### Book Name

In [377]:
names=[]
for i in soup.find_all("h4", class_="italic"):
    names.append(i.find('a',href=True).get_text().replace('â',''))
names[:10]

['Hades, Argentina',
 'Outlawed',
 'Outside, Inside',
 'The Push',
 'I Dream of Popo',
 '  Featherhood',
 'The Sea Gate',
 'A Crooked Tree',
 'Slash and Burn',
 'The Heiress']

#### Author Name

In [375]:
Author=[]
author=soup.find_all("p",class_='sans bold')
for i in author:
    Author.append(i.get_text().strip().replace("\n",""))
Author[:10]

['Daniel Loedel',
 'Anna North',
 'LeUyen Pham',
 'Ashley Audrain',
 'Livia Blackburne, Julia Kuo',
 'Charlie Gilmour',
 'Jane Johnson',
 'Una Mannion',
 'Claudia HernÃ¡ndez, Julia Sanches',
 'Molly Greeley']

#### Genre

In [384]:
Genre=[]
genre=soup.find_all("p",class_='genre-links hidden-phone')
for i in genre:
    Genre.append(i.find('a',href=True).get_text())
Genre[:10]

['Fiction',
 'Fiction',
 "Children's",
 'Fiction',
 "Children's",
 'Nonfiction',
 'Fiction',
 'Fiction',
 'Fiction',
 'Fiction']

#### Review

In [385]:
Review=[]
review=soup.find_all("p",class_='excerpt')
for i in review:
    Review.append(i.get_text().strip().replace("\n",""))
Review[:10]

['As TomÃ¡s reenters the world of Argentinaâs dirty war, time blurs, and the surreal blends with reality. As he relives trauma and torture, readers experience it with him, seeing a slice of history that is rarely talked about and feeling immersed in the ways that love, guilt and regret drive so many...',
 'This ainât no Louis LâAmour tale of the Wild West. Outlawed, the third novel by Anna North, is a gender-bending, genre-hopping yarn thatâs part frontier novel, part Handmaidâs Tale and all ripsnorting fun.',
 'LeUyen Phamâs Outside, Inside addresses the subject of the COVID-19 pandemic for young readers with sensitivity and compassion.',
 'Itâs easy to think of intimate, single-POV novels as somewhat simple narrative exercises, but Ashley Audrainâs gripping debut is proof that this is an illusion. In the hands of the right storyteller, even the most compact novels can be works of great complexity.',
 'A young girl stays in touch with her beloved grandmother, Popo, when her family moves to the United States from Taiwan in this exuberant picture book.',
 'In folklore, magpies are said to bring bad luck, but that certainly wasnât the case for Charlie Gilmour. An abandoned baby bird helped this young British author finally exorcise the long shadow cast by his biological father, whoabandoned him as an infant.',
 'Jane Johnsonâs latest novel, The Sea Gate, is beautiful story of love, loss and pain, bouncing between wartime memories of the 1940s and present day.',
 'As 15-year-old Libby Gallagher ponders several dark moments in rock ânâ roll history, she muses, âIt all said to me that chaotic and dark forces were spinning around us. One foot wrong, and youâd be pulled into the vortex.â Unfortunately, a multitude of missteps have...',
 'Slash and Burn is an ember of a novel. Originally published in Spanish, this restrained narrative about a motherâs sacrifice surges with hot undercurrents of danger and memory.',
 'Enter Molly Greeleyâs novel The Heiress, an entertaining elaboration to satisfy generations of readers who have wondered and theorized about Anne de Bourgh. In perfectly Austenesque style, Greeley reveals the backstory of the Rosings Park heiress and just what made her so sickly, so...']

In [386]:
print(len(names),len(Author),len(Genre),len(Review))

10 10 10 10

In [387]:
import pandas as pd
book=pd.DataFrame({})
book["Title"]=names
book["Author Name"]=Author
book["Genre"]=Genre
book["Book Review"]=Review

In [388]:
book.head(5)

,Title,Author Name,Genre,Book Review
0,"Hades, Argentina",Daniel Loedel,Fiction,As TomÃ¡s reenters the world of Argentinaâs dir...
1,Outlawed,Anna North,Fiction,This ainât no Louis LâAmour tale of the Wild W...
2,"Outside, Inside",LeUyen Pham,Children's,"LeUyen Phamâs Outside, Inside addresses the su..."
3,The Push,Ashley Audrain,Fiction,"Itâs easy to think of intimate, single-POV nov..."
4,I Dream of Popo,"Livia Blackburne, Julia Kuo",Children's,A young girl stays in touch with her beloved g...

In [389]:
#Saving in csv format
df=book
df.to_csv('C:/Users/home/Desktop/Internship Projects/fliprobo/bookpage.csv',index = False)

### Q5. Write a python program to scrape cricket rankings from 'www.icc-cricket.com'(Men's Cricket).

#### i)Top 10 ODI teams in menâs cricket along with the records for matches, points and rating.

In [417]:
page =  requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

In [531]:
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [532]:
soup = BeautifulSoup(page.text,'html.parser')

In [533]:
driver.get(url)

In [556]:
Team=[]
team_tag=driver.find_elements_by_xpath("//tr[@class='table-body']/td[2]")
for i in team_tag:
    team=i.text
    Team.append(team)
Team[0:4]

['India', 'New Zealand', 'Australia', 'South Africa']

In [557]:
Matches=[]
matches_tag=driver.find_elements_by_xpath("//tr[@class='table-body']/td[3]")
matches_tag[0:4]
for i in matches_tag:
    match=i.text
    Matches.append(match)
Matches[0:4]

['52', '32', '39', '31']

In [558]:
Points=[]
points_tag=driver.find_elements_by_xpath("//tr[@class='table-body']/td[4]")
for i in points_tag:
    point=i.text
    Points.append(point)
Points[0:4]

['6,102', '3,716', '4,344', '3,345']

In [559]:
Ratings=[]
rating=soup.find_all("td",class_='table-body__cell u-text-right rating')
for i in rating:
    Ratings.append(i.get_text().strip().replace("\n",""))
Ratings[:10]

['117', '116', '111', '108', '100', '88', '85', '76', '55', '52']

In [560]:
#For calculating first rating we need additional piece of code.
First_team=[]
tag=[]
for i in range(1,6):
    tag.append(driver.find_elements_by_xpath("//tr[@class='rankings-block__banner']/td["+str(i)+"]"))

for i in tag:
    First_team.append(i[0].text)
First_team[0:5]

['1', 'England', '44', '5,405', '123']

In [561]:
Team.insert(0,First_team[1])
Matches.insert(0,First_team[2])
Points.insert(0,First_team[3])
Ratings.insert(0,First_team[4])

In [570]:
print(len(Team),len(Matches),len(Points),len(Ratings))

20 20 20 20

In [567]:
import pandas as pd
ODI=pd.DataFrame({})
ODI["Team"]=Team
ODI["Matches"]=Matches
ODI["Points"]=Points
ODI["Ratings"]=Ratings

In [568]:
ODI.head(5)

           Team Matches Points Ratings
0       England      44  5,405     123
1         India      52  6,102     117
2   New Zealand      32  3,716     116
3     Australia      39  4,344     111
4  South Africa      31  3,345     108

In [569]:
df=ODI
df.to_csv('C:/Users/home/Desktop/Internship Projects/fliprobo/ODI Mens(i).csv',index = False)

#### ii)Top 10 ODI Batsmen in men along with the records of their team and rating.

In [675]:
url_batsman="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"

In [676]:
driver.get(url_batsman)

In [686]:
Player_batsman=[]
player_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell rankings-table__name name']/a[1]")
for i in player_tag:
    player=i.text
    Player_batsman.append(player)
Player_batsman[0:10]

['Rohit Sharma',
 'Babar Azam',
 'Ross Taylor',
 'Aaron Finch',
 'Francois du Plessis',
 'David Warner',
 'Kane Williamson',
 'Quinton de Kock',
 'Jonny Bairstow',
 'Shai Hope']

In [687]:
Team_batsman=[]
team_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell nationality-logo rankings-table__team']/span[2]")
for i in team_tag:
    team=i.text
    Team_batsman.append(team)
Team_batsman[0:10]

['IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG', 'WI']

In [689]:
Ratings_batsman=[]
rating_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell rating']")
for i in rating_tag:
    rating=i.text
    Ratings_batsman.append(rating)
Ratings_batsman[0:10]

['842', '837', '818', '791', '790', '773', '765', '755', '754', '750']

In [690]:
#For calculating first rating we need additional piece of code.
First_player_batsman=[]
tag=[]
for i in range(1,6):
    tag.append(driver.find_elements_by_xpath("//tr[@class='rankings-block__banner']/td["+str(i)+"]"))

for i in tag:
    First_player_batsman.append(i[0].text)
First_player_batsman[1:4]

['Virat Kohli', 'IND', '870']

In [692]:
Player_batsman.insert(0,First_player[1])
Team_batsman.insert(0,First_player[2])
Ratings_batsman.insert(0,First_player[3])

In [693]:
print(len(Player_batsman),len(Team_batsman),len(Ratings_batsman))

100 100 100

In [697]:
import pandas as pd
ODI_batsman=pd.DataFrame({})
ODI_batsman["Player"]=Player_batsman
ODI_batsman["Team"]=Team_batsman
ODI_batsman["Ratings"]=Ratings_batsman

In [698]:
ODI_batsman.head(5)

         Player Team Ratings
0   Virat Kohli  IND     870
1  Rohit Sharma  IND     842
2    Babar Azam  PAK     837
3   Ross Taylor   NZ     818
4   Aaron Finch  AUS     791

In [699]:
df_batsman=ODI_batsman
df_batsman.to_csv('C:/Users/home/Desktop/Internship Projects/fliprobo/ODI Mens_Batsmen(ii).csv',index = False)

#### iii) Top 10 ODI bowlers along with the records of their team and rating.

In [701]:
url_bowler="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

In [702]:
driver.get(url_bowler)

In [703]:
Bowler=[]
bowler_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell rankings-table__name name']/a[1]")
for i in bowler_tag:
    bowler=i.text
    Bowler.append(bowler)
Bowler[0:9]

['Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Chris Woakes',
 'Kagiso Rabada',
 'Josh Hazlewood',
 'Mohammad Amir',
 'Pat Cummins',
 'Matt Henry',
 'Jofra Archer']

In [704]:
Team_bowler=[]
team_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell nationality-logo rankings-table__team']/span[2]")
for i in team_tag:
    team=i.text
    Team_bowler.append(team)
Team_bowler[0:9]

['AFG', 'IND', 'ENG', 'SA', 'AUS', 'PAK', 'AUS', 'NZ', 'ENG']

In [705]:
Ratings_bowler=[]
rating_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell rating']")
for i in rating_tag:
    rating=i.text
    Ratings_bowler.append(rating)
Ratings_bowler[0:9]

['701', '700', '675', '665', '660', '647', '646', '641', '637']

In [706]:
#For calculating first rating we need additional piece of code.
First_bowler=[]
tag=[]
for i in range(1,6):
    tag.append(driver.find_elements_by_xpath("//tr[@class='rankings-block__banner']/td["+str(i)+"]"))

for i in tag:
    First_bowler.append(i[0].text)
First_bowler[1:4]

['Trent Boult', 'NZ', '722']

In [708]:
Bowler.insert(0,First_bowler[1])
Team_bowler.insert(0,First_bowler[2])
Ratings_bowler.insert(0,First_bowler[3])

In [710]:
print(len(Bowler),len(Team_bowler),len(Ratings_bowler))

100 100 100

In [714]:
import pandas as pd
ODI_bowler=pd.DataFrame({})
ODI_bowler["Bowler_name"]=Bowler[:20]
ODI_bowler["Team"]=Team_bowler[:20]
ODI_bowler["Ratings"]=Ratings_bowler[:20]

In [716]:
ODI_bowler[:10]

        Bowler_name Team Ratings
0       Trent Boult   NZ     722
1  Mujeeb Ur Rahman  AFG     701
2    Jasprit Bumrah  IND     700
3      Chris Woakes  ENG     675
4     Kagiso Rabada   SA     665
5    Josh Hazlewood  AUS     660
6     Mohammad Amir  PAK     647
7       Pat Cummins  AUS     646
8        Matt Henry   NZ     641
9      Jofra Archer  ENG     637

In [717]:
df_bowler=ODI_bowler
df_bowler.to_csv('C:/Users/home/Desktop/Internship Projects/fliprobo/ODI Mens_Bowler(iii).csv',index = False)

### Q6. Write a python program to scrape cricket rankings from 'www.icc-cricket.com'(Women's Cricket).

#### i)Top 10 ODI teams in womenâs cricket along with the records for matches, points and rating.

In [739]:
page =  requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [740]:
url_W1="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [741]:
soup = BeautifulSoup(page.text,'html.parser')

In [742]:
driver.get(url_W1)

In [743]:
Team_W1=[]
team_tag=driver.find_elements_by_xpath("//tr[@class='table-body']/td[2]")
for i in team_tag:
    team=i.text
    Team_W1.append(team)
Team_W1[0:9]

['India',
 'England',
 'South Africa',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [744]:
Matches_W1=[]
matches_tag=driver.find_elements_by_xpath("//tr[@class='table-body']/td[3]")
matches_tag[0:4]
for i in matches_tag:
    match=i.text
    Matches_W1.append(match)
Matches_W1[0:9]

['15', '14', '16', '15', '12', '12', '5', '11', '2']

In [745]:
Points_W1=[]
points_tag=driver.find_elements_by_xpath("//tr[@class='table-body']/td[4]")
for i in points_tag:
    point=i.text
    Points_W1.append(point)
Points_W1[0:4]

['1,812', '1,670', '1,713', '1,384']

In [746]:
Ratings_W1=[]
rating=soup.find_all("td",class_='table-body__cell u-text-right rating')
for i in rating:
    Ratings_W1.append(i.get_text().strip().replace("\n",""))
Ratings_W1[:10]

['121', '119', '107', '92', '85', '77', '61', '47', '13']

In [747]:
#For calculating first rating we need additional piece of code.
First_team_W1=[]
tag=[]
for i in range(1,6):
    tag.append(driver.find_elements_by_xpath("//tr[@class='rankings-block__banner']/td["+str(i)+"]"))

for i in tag:
    First_team_W1.append(i[0].text)
First_team_W1[0:5]

['1', 'Australia', '15', '2,436', '162']

In [748]:
Team_W1.insert(0,First_team_W1[1])
Matches_W1.insert(0,First_team_W1[2])
Points_W1.insert(0,First_team_W1[3])
Ratings_W1.insert(0,First_team_W1[4])

In [749]:
Matches_W1[:10]

['15', '15', '14', '16', '15', '12', '12', '5', '11', '2']

In [750]:
print(len(Team_W1),len(Matches_W1),len(Points_W1),len(Ratings_W1))

10 10 10 10

In [751]:
import pandas as pd
WODI=pd.DataFrame({})
WODI["Team"]=Team_W1
WODI["Matches"]=Matches_W1
WODI["Points"]=Points_W1
WODI["Ratings"]=Ratings_W1

In [752]:
WODI.head(5)

           Team Matches Points Ratings
0     Australia      15  2,436     162
1         India      15  1,812     121
2       England      14  1,670     119
3  South Africa      16  1,713     107
4   New Zealand      15  1,384      92

In [753]:
df=WODI
df.to_csv('C:/Users/home/Desktop/Internship Projects/fliprobo/WODI Womens(i).csv',index = False)

#### ii)Top 10 womenâs ODI players along with the records of their team and rating.

In [754]:
url_women="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

In [755]:
driver.get(url_women)

In [756]:
Player_women=[]
player_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell rankings-table__name name']/a[1]")
for i in player_tag:
    player_women=i.text
    Player_women.append(player_women)
Player_women[0:10]

['Stafanie Taylor',
 'Alyssa Healy',
 'Smriti Mandhana',
 'Amy Satterthwaite',
 'Tammy Beaumont',
 'Ellyse Perry',
 'Lizelle Lee',
 'Laura Wolvaardt',
 'Mithali Raj',
 'Natalie Sciver']

In [757]:
Team_women=[]
team_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell nationality-logo rankings-table__team']/span[2]")
for i in team_tag:
    team_women=i.text
    Team_women.append(team_women)
Team_women[0:10]

['WI', 'AUS', 'IND', 'NZ', 'ENG', 'AUS', 'SA', 'SA', 'IND', 'ENG']

In [758]:
Ratings_women=[]
rating_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell rating']")
for i in rating_tag:
    rating=i.text
    Ratings_women.append(rating)
Ratings_women[0:10]

['746', '741', '732', '723', '716', '691', '690', '689', '687', '670']

In [759]:
#For calculating first rating we need additional piece of code.
First_player_women=[]
tag=[]
for i in range(1,6):
    tag.append(driver.find_elements_by_xpath("//tr[@class='rankings-block__banner']/td["+str(i)+"]"))

for i in tag:
    First_player_women.append(i[0].text)
First_player_women[1:4]

['Meg Lanning', 'AUS', '749']

In [761]:
Player_women.insert(0,First_player_women[1])
Team_women.insert(0,First_player_women[2])
Ratings_women.insert(0,First_player_women[3])

In [762]:
print(len(Player_women),len(Team_women),len(Ratings_women))

100 100 100

In [763]:
import pandas as pd
WODI1_women=pd.DataFrame({})
WODI1_women["Player"]=Player_women
WODI1_women["Team"]=Team_women
WODI1_women["Ratings"]=Ratings_women

In [764]:
WODI1_women.head(5)

              Player Team Ratings
0        Meg Lanning  AUS     749
1    Stafanie Taylor   WI     746
2       Alyssa Healy  AUS     741
3    Smriti Mandhana  IND     732
4  Amy Satterthwaite   NZ     723

In [765]:
df_women=WODI1_women
df_women.to_csv('C:/Users/home/Desktop/Internship Projects/fliprobo/WODI1 Womens_Batsmen(ii).csv',index = False)

#### iii) Top 10 womenâs ODI all-rounder along with the records of their team and rating.

In [766]:
url_all_rounder="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"

In [767]:
driver.get(url_all_rounder)

In [768]:
All_rounder=[]
all_rounder_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell rankings-table__name name']/a[1]")
for i in all_rounder_tag:
    all_rounder=i.text
    All_rounder.append(all_rounder)
All_rounder[0:9]

['Stafanie Taylor',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Dane van Niekerk',
 'Jess Jonassen',
 'Sophie Devine',
 'Natalie Sciver',
 'Shikha Pandey',
 'Katherine Brunt']

In [769]:
Team_all_rounder=[]
team_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell nationality-logo rankings-table__team']/span[2]")
for i in team_tag:
    team=i.text
    Team_all_rounder.append(team)
Team_all_rounder[0:9]

['WI', 'SA', 'IND', 'SA', 'AUS', 'NZ', 'ENG', 'IND', 'ENG']

In [770]:
Ratings_all_rounder=[]
rating_tag=driver.find_elements_by_xpath("//td[@class='table-body__cell rating']")
for i in rating_tag:
    rating=i.text
    Ratings_all_rounder.append(rating)
Ratings_all_rounder[0:9]

['410', '389', '359', '335', '301', '289', '273', '250', '232']

In [771]:
#For calculating first rating we need additional piece of code.
First_all_rounder=[]
tag=[]
for i in range(1,6):
    tag.append(driver.find_elements_by_xpath("//tr[@class='rankings-block__banner']/td["+str(i)+"]"))

for i in tag:
    First_all_rounder.append(i[0].text)
First_all_rounder[1:4]

['Ellyse Perry', 'AUS', '460']

In [772]:
All_rounder.insert(0,First_all_rounder[1])
Team_all_rounder.insert(0,First_all_rounder[2])
Ratings_all_rounder.insert(0,First_all_rounder[3])

In [773]:
print(len(All_rounder),len(Team_all_rounder),len(Ratings_all_rounder))

20 20 20

In [774]:
import pandas as pd
WODI1_all_rounder=pd.DataFrame({})
WODI1_all_rounder["Bowler_name"]=All_rounder[:20]
WODI1_all_rounder["Team"]=Team_all_rounder[:20]
WODI1_all_rounder["Ratings"]=Ratings_all_rounder[:20]

In [776]:
WODI1_all_rounder[:10]

        Bowler_name Team Ratings
0      Ellyse Perry  AUS     460
1   Stafanie Taylor   WI     410
2    Marizanne Kapp   SA     389
3     Deepti Sharma  IND     359
4  Dane van Niekerk   SA     335
5     Jess Jonassen  AUS     301
6     Sophie Devine   NZ     289
7    Natalie Sciver  ENG     273
8     Shikha Pandey  IND     250
9   Katherine Brunt  ENG     232

In [777]:
df_all_rounder=WODI1_all_rounder
df_all_rounder.to_csv('C:/Users/home/Desktop/Internship Projects/fliprobo/WODI1 Women_all_rounder(iii).csv',index = False)

### Q7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [64]:
row = ['Name', 'Price', 'Image URL','Rating']
file_object = open('amazone_mobiles_under_20000_csv.csv', 'a', encoding='utf-8', newline="")
writer = csv.DictWriter(file_object, fieldnames=row)
if file_object.tell() == 0:
    writer.writeheader()
header = {"User-Agent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.198 Safari/537.36'}
url = 'https://www.amazon.in/s?k=mobile+phones+under+Rs.+20%2C000&rh=p_36%3A-2000000&qid=1610348454&rnid=1318502031&ref=sr_nr_p_36_5'

for i in range(15):
    page = requests.get(url+"&page="+str(i+1), headers=header)
    soup = BeautifulSoup(page.text,'html.parser')
    div = soup.find_all("div", {"class": "s-include-content-margin s-border-bottom s-latency-cf-section"})
    for x, i in enumerate(div):
        img_div = i.find("div", {"class": "a-section aok-relative s-image-fixed-height"})
        img = img_div.find("img")
        name = ""
        for j in img.get("alt"):
            if j is not ")": name += j
            else: 
                name += ")"
                break
        try: price = str(i.find("span", {"class": "a-offscreen"}).text).replace("â¹","Rs. ")
        except: price = "Currently Unavailable"
        try: 
            rate_div = str(i.find("div", {"class": ["a-row a-size-small", "aria-label"]}).text).split("\n")
            rate = "".join(i for i in rate_div if "out of" in i)
        except: 
            rate = "Currently Unavailable"
        writer.writerow({'Name': name, 'Price': price,'Image URL': img.get('src'), 'Rating': rate})
file_object.close()
print("CSV created!!!")

<>:18: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-64-eb41c085982c>:18: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if j is not ")": name += j

CSV created!!!

### Q8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [967]:
driver.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996")

In [973]:
Period=[]
period=driver.find_elements_by_xpath("//div[@class='tombstone-container']/p[1]")
for i in period:
    period=i.text.replace("\n"," ")
    Period.append(period) 
Period[0:7]

['Overnight',
 'Tuesday',
 'Tuesday Night',
 'Wednesday',
 'Wednesday Night',
 'Thursday',
 'Thursday Night']

In [974]:
Short_description=[]
short_description=driver.find_elements_by_xpath("//div[@class='tombstone-container']/p[3]")
for i in short_description:
    short_description=i.text.replace("\n"," ")
    Short_description.append(short_description) 
Short_description[0:7]

['Mostly Cloudy',
 'Patchy Fog then Mostly Cloudy',
 'Mostly Cloudy',
 'Mostly Cloudy',
 'Partly Cloudy then Patchy Fog',
 'Patchy Fog then Sunny',
 'Partly Cloudy']

In [975]:
Temp=[]
temp=driver.find_elements_by_xpath("//div[@class='tombstone-container']/p[4]")
for i in temp:
    temp=i.text.replace("\n"," ")
    Temp.append(temp) 
Temp[0:7]

['Low: 48 Â°F',
 'High: 59 Â°F',
 'Low: 51 Â°F',
 'High: 62 Â°F',
 'Low: 50 Â°F',
 'High: 63 Â°F',
 'Low: 48 Â°F']

In [976]:
Desc=[]
desc=driver.find_elements_by_xpath("//div[@class='row row-odd row-forecast']/div[2]")
for i in desc:
    desc=i.text.replace("\n"," ")
    Desc.append(desc) 
Desc[0:7]

['Mostly cloudy, with a low around 48. Light north northwest wind.',
 'Mostly cloudy, with a low around 51. Calm wind becoming west around 5 mph.',
 'Patchy fog after 2am. Otherwise, partly cloudy, with a low around 50. Calm wind.',
 'Partly cloudy, with a low around 48.',
 'Partly cloudy, with a low around 49.',
 'Partly cloudy, with a low around 48.',
 'Mostly clear, with a low around 49.']

In [977]:
print(len(Period),len(Short_description),len(Temp),len(Desc))

9 9 9 7

In [979]:
import pandas as pd
weather=pd.DataFrame({})
weather["Period"]=Period[:7]
weather["Short_Description"]=Short_description[:7]
weather["Temperature"]=Temp[:7]
weather["Description"]=Desc

In [980]:
weather

,Period,Short_Description,Temperature,Description
0,Overnight,Mostly Cloudy,Low: 48 Â°F,"Mostly cloudy, with a low around 48. Light nor..."
1,Tuesday,Patchy Fog then Mostly Cloudy,High: 59 Â°F,"Mostly cloudy, with a low around 51. Calm wind..."
2,Tuesday Night,Mostly Cloudy,Low: 51 Â°F,"Patchy fog after 2am. Otherwise, partly cloudy..."
3,Wednesday,Mostly Cloudy,High: 62 Â°F,"Partly cloudy, with a low around 48."
4,Wednesday Night,Partly Cloudy then Patchy Fog,Low: 50 Â°F,"Partly cloudy, with a low around 49."
5,Thursday,Patchy Fog then Sunny,High: 63 Â°F,"Partly cloudy, with a low around 48."
6,Thursday Night,Partly Cloudy,Low: 48 Â°F,"Mostly clear, with a low around 49."

In [981]:
df_forecast=weather
df_forecast.to_csv('C:/Users/home/Desktop/Internship Projects/fliprobo/San Francisco weather.csv',index = False)

### Q9. Write a python program to scrape âsoftware developerâ job listings from âMonster.comâ. It should include all the jobs listed for the next 5 pages.

In [38]:
url_sd = 'https://www.monsterindia.com/srp/results?query=software%20developer&searchId=c2162b05-d9cf-45bb-af10-2b48822bf910'

jobs=[]
title_jobs= []
company =[]
locations =[]
experience = []
days_posted = []

#Jobs for the next 5 pages.    
for j in range(5):
    driver.get(url_sd)
    time.sleep(3)
    x = driver.find_elements_by_xpath("//div[@class='job-tittle']")
    job_titles = [str(i.text).split("\n")[:][0] for i in x]
    company_names = [str(i.text).split("\n")[:][1] for i in x]
    location_list = [str(i.text).split("\n")[:][2] for i in x]
    experience_list = [str(i.text).split("\n")[:][3] for i in x]
    
    t = driver.find_elements_by_xpath("//div[@class='card-footer apply-footer no-bdr']")
    posted_days=[str(i.text).rstrip("\nAPPLY").split(" |")[:][0] for i in t]
    
    title_jobs.extend(job_titles)
    company.extend(company_names)
    locations.extend(location_list)
    experience.extend(experience_list)
    days_posted.extend(posted_days)
        
driver.quit()
    
jobs = pd.DataFrame({})
jobs['Title']=title_jobs
jobs['Company']=company
jobs['Location']=locations
jobs['Experience']=experience
jobs['Posted days']=days_posted

import csv
row = ['Title', 'Company', 'Location','Experience','Posted days']
file_object = open('monster_softwaredeveloper_csv.csv', 'a', encoding='utf-8', newline="")
writer = csv.DictWriter(file_object, fieldnames=row)
if file_object.tell() == 0:
    writer.writeheader()
for g, h in enumerate(title_jobs):
    writer.writerow({'Title': h, 'Company': company[g], 'Location': locations[g], 'Experience': experience[g],
                     'Posted days': days_posted[g]})
file_object.close()
print("CSV created!!")

CSV created!!

### Q10. Write a python program to scrape âdata scientistâ job listings for location âNew Delhiâ from âMonster.comâ. It should include all the jobs listed for the next 5 pages.

In [35]:
url_ds = 'https://www.monsterindia.com/srp/results?query=Data%20scientist&locations=New%20Delhi&searchId=8aee36dd-68e5-4fcb-91e0-9f444f7f3433'

jobs=[]
title_jobs= []
company =[]
locations =[]
experience = []
days_posted = []

#Jobs for the next 5 pages.
for j in range(5):
    driver.get(url_ds)
    time.sleep(3)
    x = driver.find_elements_by_xpath("//div[@class='job-tittle']")
    job_titles = [str(i.text).split("\n")[:][0] for i in x]
    company_names = [str(i.text).split("\n")[:][1] for i in x]
    location_list = [str(i.text).split("\n")[:][2] for i in x]
    experience_list = [str(i.text).split("\n")[:][3] for i in x]
    
    t = driver.find_elements_by_xpath("//div[@class='card-footer apply-footer no-bdr']")
    posted_days=[str(i.text).rstrip("\nAPPLY").split(" |")[:][0] for i in t]
    
    title_jobs.extend(job_titles)
    company.extend(company_names)
    locations.extend(location_list)
    experience.extend(experience_list)
    days_posted.extend(posted_days)
        
driver.quit()
    
jobs = pd.DataFrame({})
jobs['Title']=title_jobs
jobs['Company']=company
jobs['Location']=locations
jobs['Experience']=experience
jobs['Posted days']=days_posted

import csv
row = ['Title', 'Company', 'Location','Experience','Posted days']
file_object = open('monster_datascientist_csv.csv', 'a', encoding='utf-8', newline="")
writer = csv.DictWriter(file_object, fieldnames=row)
if file_object.tell() == 0:
    writer.writeheader()
for g, h in enumerate(title_jobs):
    writer.writerow({'Title': h, 'Company': company[g], 'Location': locations[g], 'Experience': experience[g],
                     'Posted days': days_posted[g]})
file_object.close()
print("CSV created!!")

CSV created!!